{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}?v=3">
</head>
<body>

    <header class="header-verde">
        <div class="topo">
            <div class="logo">MINHA LOJA</div>
            
            <nav class="nav-links">
                <a href="{% url 'lojaapp:home' %}">Home</a>
                <a href="{% url 'lojaapp:todos-produtos' %}">Categorias</a>
                <a href="{% url 'lojaapp:contato' %}">Contato</a>
                
                {% if request.user.is_authenticated %}
                <div class="dropdown-container">
                    <!-- Botão Principal (Onde o usuário clica ou passa o mouse) -->
                    <a href="#" class="btn-area-cliente">
                        👤 OLÁ, {{ request.user.username|upper }} ▼
                    </a>
                    
                    <!-- Lista Suspensa Corrigida -->
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'lojaapp:meuspedidos' %}">📦 Meus Pedidos</a></li>
                        <li><a href="{% url 'lojaapp:meusdados' %}">🏠 Meus Dados</a></li>
                        <li><a href="{% url 'lojaapp:minhasavaliacoes' %}">⭐ Minhas Avaliações</a></li>
                        <li class="divisor"></li>
                        <li><a href="{% url 'lojaapp:clientelogout' %}" style="color: #ffc107;">🚪 Sair</a></li>
                    </ul>
                </div>
                {% else %}
                    <a href="{% url 'lojaapp:clientelogin' %}" class="btn-login">Login</a>
                    <a href="{% url 'lojaapp:clienteregistro' %}">Cadastrar</a>
                {% endif %}
                
                <a class="btn-carrinho" href="{% url 'lojaapp:carrinho' %}" style="margin-left: 20px;">🛒 Carrinho</a>
            </nav>
        </div>

        <div class="busca-container">
            <form action="{% url 'lojaapp:home' %}" method="GET" class="busca-form">
                <input type="text" name="q" placeholder="O QUE VOCÊ PROCURA HOJE?">
                <button type="submit">BUSCAR</button>
            </form>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
