{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}?v=1.5">
</head>
<body>
    <header class="header-verde">
        <div class="topo">
            <div class="logo"><a href="{% url 'lojaapp:home' %}">MINHA LOJA</a></div>
            
            <div class="busca-container">
                <form action="{% url 'lojaapp:home' %}" method="GET" class="busca-form">
                    <input type="text" name="q" placeholder="O que você procura hoje?">
                    <button type="submit">BUSCAR</button>
                </form>
            </div>

            <nav class="nav-links">
                <a href="{% url 'lojaapp:home' %}">HOME</a>
                <a href="{% url 'lojaapp:todos-produtos' %}">CATEGORIAS</a>
                <a href="{% url 'lojaapp:contato' %}">CONTATO</a>
                
                {% if request.user.is_authenticated %}
                    <div class="dropdown-container">
                        <a href="#" class="btn-area-cliente">👤 {{ request.user.username|upper }} ▼</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'lojaapp:meuspedidos' %}">📦 Meus Pedidos</a></li>
                            <li><a href="{% url 'lojaapp:meusdados' %}">🏠 Meus Dados</a></li>
                            <li><a href="{% url 'lojaapp:clientelogout' %}">🚪 Sair</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'lojaapp:clientelogin' %}">LOGIN</a>
                {% endif %}
                <a class="btn-carrinho" href="{% url 'lojaapp:carrinho' %}">🛒 CARRINHO</a>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="rodape">
        <div class="topo"> 
            <div class="rodape-logo">
                <h4>MINHA LOJA</h4>
                <p>Qualidade e compromisso com o cliente.</p>
            </div>
            <div class="rodape-links-container">
                <h4>Links Úteis</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="{% url 'lojaapp:sobre' %}">Sobre</a></li>
                    <li><a href="{% url 'lojaapp:contato' %}">Contato</a></li>
                </ul>
            </div>
            <div class="rodape-atendimento">
                <h4>ATENDIMENTO</h4>
                <p>📍 Centro, MG</p>
                <p>📞 (00) 99999-9999</p>
            </div>
        </div>
        <div class="rodape-inferior"><p>&copy; 2026 Minha Loja</p></div>
    </footer>
</body>
</html>
